{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <form action="{% url 'createnewpage' %}" method="POST">
        {% csrf_token %}
        <h1> Entry Title: </h1> 
        <input type="text" name="title" placeholder="Title..." style=width:25%;>
        <h1> Entry Text: </h1>
        <textarea name="q" value="Entry Details..." style=width:75%;height:100px;>Write something here</textarea>
        <input type="submit" value="Create Page"  style=position:relative;top:50px;right:74%;width:100px;>
    </form>
{% endblock %}